.langue {
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.langue select {
  background-color: transparent;
  color: var(--clr-primary);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.langue:hover select {
  color: var(--clr-bg);
}
.lang-option {
  color: #333;
}
.lang-option:active,
.lang-option:hover {
  color: red;
}
