.header {
  height: 6em;
  padding: 0 20px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5000;
  background-color: var(--clr-bg-head);
  transition: 200ms ease-in-out;
  border-bottom: 1px solid transparent;
}

.header:hover {
  background-color: var(--clr-bg);
  border-bottom: 1px solid var(--clr-fg);
}
@media (max-width: 767px) {
  .header {
    height: 4em;
  }
}
