.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
  background-color: var(--clr-primary);
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-bg-alt);
  transition: 0.2s ease-in;
}

.footer__link:hover {
  color: var(--clr-fg-alt);
}
@media (max-width: 767px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
